@model NCD.Models.SearchViewModel
@{
    ViewBag.Title = "Email Sent!";
}
@section header {
    @Html.Partial("_Header")
}
<hgroup class="title">
    <h2 class="green">You placed you search successfully:</h2>
</hgroup>

<div>
    To see the results of your query, check your email.
    To make a new search click you can click on below link.
    <div class="top-gap-2x"></div>
    @Html.ActionLink("Search again", "Index", "Criminal", null, new { @class = "button button-primary responsive spacer" }) 
</div>