@model NCD.Models.SearchViewModel
@{
    ViewBag.Title = "Log in";
}

@section header {
    @Html.Partial("_Header")
}

<hgroup class="title">
    <h2>You placed you search sucessfully:</h2>
</hgroup>

<h3>
    To see the results of your query, check your email or @Html.ActionLink("do another search.", "Index", "Criminal", null, new { @class = "button button-primary responsive spacer" })
</h3>