<div class="home form-center">
    <div class="absolute-center">
        <img src="~/Content/img/spectre.png" />
        <h2>National Criminals Database</h2>

        <p>Login or register to begin</p>
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "button button-primary responsive spacer" })
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "button button-success responsive" })
    </div>
</div>